<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="../static/style/main_page.css" rel="stylesheet" type="text/css">
      <script src="https://kit.fontawesome.com/b1c674bb0b.js" crossorigin="anonymous"></script>
      <title>Home</title>
  </head>
  <body>
    <%- include('components/nav_bar') %>
    <div id="list">
      <img src="/static/images/<%= item._id %><%= item.imgExt %> " alt="">
      <div><%= item.name %> </div>
      <div><%= item.description %> </div>
      <div><%= item.price %> </div>
      <div><%= item.quantity %> </div>
      <% if (session.isAdmin) { %>
        <form action="/item/delete/<%= item._id %>" method="post"><button type="submit">Delete</button></form>
      <% } %>
    </div>

    <% if (session.isAdmin) { %>
      <form id="updateItem" action="/item/update/<%= item._id %>" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="description" placeholder="description">
        <input type="number" name="price" placeholder="price">
        <input type="number" name="quantity" placeholder="quantity">
        <input type="file" name="image" placeholder="image">
    
        <button id="submit" type="submit">upload</button><br>
      </form>
    <% } %>

  
    <%- include('components/footer') %>
  </body>
  </html>
  